.o_web_client {
    background: #7C7BAD;
}
.o_web_client .o_action_manager {
    margin-left: 140px;
    position: absolute;
    top: 46px;
}
.o_controller_with_searchpanel .o_renderer_with_searchpanel {
    background: #f9f9f9;
}
.i_yuan_man_menu {
    height: calc(100% - 46px);
    flex: 0 0 auto;
    text-align: center;
    width: 140px;
}
.menu_list_view {
    padding: 0;
}
.menu_list {
    padding: 15px 0;
    display: block;
    text-align: center;
    box-sizing: border-box;
    color: #fff;
    border-bottom: 1px solid #5f5e97;
    cursor: pointer;
}
.menu_list:hover {
    background-color: #5f5e97;
}